.contact {
    background-color: rgb(250, 200, 157);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    align-content: center;
}

.contact h4 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
}

.contact .container {
    width: 50%;
}

form input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-size: 17px;
    color: grey;
}

.submit {
    background-color: rgb(255, 121, 0);
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #f7eadd;
    border: solid 1px rgb(255, 121, 0);
    color: rgb(255, 121, 0);
}

/* Thank you page css rules */
.thank-you {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding-top: 80px;
}

.thank-you h4 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding: 20px 0;
    font-weight: 300;
}

.thank-you h5 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.thank-you h6 {
    font-family: "Style Script", cursive;
    font-size: 30px;
    padding-top: 5px;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .contact .container {
        width: 75%;
    }
}
